GIGACHAT_CREDENTIALS=your_gigachat_credentials_here

GIGACHAT_SCOPE=GIGACHAT_API_PERS

GIGACHAT_VERIFY_SSL_CERTS=false

GIGACHAT_MODEL_LITE=GigaChat
GIGACHAT_MODEL_MAX=GigaChat-Max
GIGACHAT_MODEL_PRO=GigaChat-Pro
